@import "bootstrap";

// STANDART VALUES
%gradient-bg {
  background: rgba(68,160,213,1);
  background: -moz-linear-gradient(left, rgba(68,160,213,1) 0%, rgba(5,151,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,160,213,1)), color-stop(100%, rgba(5,151,255,1)));
  background: -webkit-linear-gradient(left, rgba(68,160,213,1) 0%, rgba(5,151,255,1) 100%);
  background: -o-linear-gradient(left, rgba(68,160,213,1) 0%, rgba(5,151,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(68,160,213,1) 0%, rgba(5,151,255,1) 100%);
  background: linear-gradient(to right, rgba(68,160,213,1) 0%, rgba(5,151,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a0d5', endColorstr='#0597ff', GradientType=1 );
}
%display-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

// STYLE FOR ALL OBJECTS

* {
  box-sizing: border-box;
}

// HEADER SECTION

header {
  @extend %gradient-bg;
  .wrapper {
    @extend %display-flex;
    justify-content: space-between;
    }
}
.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.contact-info, .social-media {
  @extend %display-flex;
  padding: 7px;
  div {
    margin: 7px;
  }
  div a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    svg {
      margin: 2px;
    }
  }
}

// MENU SECTION

.menu {
  .wrapper {
    @extend %display-flex;
    justify-content: space-between;
    .logo-block {
      
    }
    .logo-block {
      img {
        width: 200px;
      }
    }
    .menu-block {
      ul {
        @extend %display-flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        height: 100%;
        li {
          list-style: none;
          margin: 7px;
        }
      }
    }
  }
}


 // SECTION FOOTER

footer {
  @extend %gradient-bg;
  .wrapper {
    @extend %display-flex;
    justify-content: space-between;
    .footer-info {
      @extend %display-flex;
      align-items: center;
      margin: 0;
      color: white;
    } 
  }
}